#wrap{
	background-color: #f0efed;
}
#header{
	width: 7.5rem;
	height: 0.88rem;
	background-color: #F8C5D3;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	font-size: 0.34rem;
	text-align: center;
	line-height: 0.88rem;
	overflow: hidden;
}
#header *{
	float: left;
}
#header #header_left {
	width: 0.8rem;
	height: 0.88rem;
	position: absolute;
	top: 0rem;
	left:0rem;
}
#prev{
	width: 0.28rem;
	height: 0.38rem;
	margin:0.25rem 0 0 0.2rem;
}

#content{
	padding-top: 0.88rem;
	padding-bottom: 0.88rem;
}
#movie_banner{
	height: 2.36rem;
}
.person_info{
	float: left;
	margin-right: 0.32rem;
}
.info_img{
	width: 1.26rem;
	height: 1.26rem;
	position: relative;
	background-image: url("../images/banner.png");
	background-size: cover;
	border-radius: 50%;
}
.info_bot{
	margin-top: 0.3rem;
	margin-bottom: 0.23rem;
	overflow: hidden;
	padding-left: 0.11rem;
}
.info_sex{
	background-image: url("../images/sex.png");
	width: 0.12rem;
	height: 0.17rem;
	background-size: cover;
	float: left;
	margin-top: 0.05rem;
	margin-right: 0.08rem;
}
.info_name{
	font-size: 0.18rem;
	color: #000000;
	float: left;
}
.detail_info{
	float: left;
}
.detail_info_list{
	margin-left: -0.12rem;
}
.detail_info_list li{
	background: url("../images/listStyle.png") no-repeat left center;
	background-size: 0.08rem 0.08rem;
	padding-left: 0.12rem;
}
.detail_info h1{
	font-size: 0.24rem;
	color: #000000;
	margin-bottom: 0.34rem;
}
.detail_info_first{
	font-size: 0.18rem;
	color: #6e6d6b;
	margin-bottom: 0.21rem;
}
.detail_info_first span:nth-of-type(1){
	color: black;
}
.detail_info_second{
	font-size: 0.18rem;
	color: #6e6d6b;
	margin-bottom: 0.21rem;
}
.detail_info_third{
	font-size: 0.18rem;
	color: #6e6d6b;
}
.info_top{
	position: relative;
	overflow: hidden;
	display: inline-block;
	background-color: white;
	width: 100%;
	padding: 0.25rem 0.2rem 0 0.3rem;
}
.info_bottom{
	border-top: 0.02rem solid #F0F0ED;
	width: 100%;
	height: 0.5rem;
	font-size: 0.18rem;
	color: #bfbfbe;
	line-height: 0.5rem;
}
.mainTop{
	overflow: hidden;
}
#tel{
	position: absolute;
	right: 0.5rem;
	top: 0.75rem;
	background-image: url('../images/tel.png');
	width: 0.52rem;
	height: 0.52rem;
	border-radius: 50%;
	background-size: cover;
}
.controll{
	text-align: right;
	margin-bottom: 0.17rem;
}
.controll img{
	width: 0.24rem;
	height: 0.24rem;
}
.upvote{
	margin-right: 0.23rem;
}
.main_talk{
	max-width: 7.5rem;
	margin-top: 0.22rem;
	font-size: 0.2rem;
	text-align: left;
	height: 0.8rem;
	line-height: 0.8rem;
	background-color: white;
	color: #6e6d6b;
	padding-left: 0.2rem;
}
#detail_adress{
	margin-right: 0.25rem;
}
#detail_num{
	margin-left: 0.28rem;
}
#detail_date{
	margin-right: 0.28rem;
}
#detail_time{
	margin-right: 0.26rem;
}
.subBtn{
	width: 3.2rem;
	height: 0.63rem;
	background-color: #f8c3d2;
	font-size: 0.36rem;
	color: white;
	border-radius: 0.16rem;
	text-align: center;
	line-height: 0.63rem;
	margin: 0 auto;
	margin-top: 0.29rem;
}
.swiper-container{
	margin-top: 0.21rem;
	position: relative;
	height: 10rem;
}
.pagination{
	height: 0.43rem;
	background-color: white;
	padding-top: 0.07rem;
}
.myPagination{
	height: 0.36rem;
	font-size: 0.19rem;
	width: 1.86rem;
	line-height: 0.36rem;
	float: left;
	text-align: center;
	border-right: 1px solid #f0efed;
}
#bRedPack{
	border-right: none;
}
.replyImg{
	background-image: url(../images/banner.png);
	border-radius: 50%;
	width: 1.06rem;
	height: 1.06rem;
	float: left;
	margin-right: 0.39rem;
}
.swiper-wrapper{
	background-color: white;
	width: 100%;
	margin-top: 0.01rem;
}
.replyChild{
	overflow: hidden;
	padding: 0.17rem 0.21rem 0 0.42rem;
}
.rightBox{
	float: left;
	width: 5.42rem;
	position: relative;
	border-bottom: 1px solid #f0efed;
}
.user_info{
	overflow: hidden;
}
.user_name{
	font-size: 0.24rem;
	color: #959594;
	float: left;
	margin-right: 0.08rem;
}
.sex{
	margin-top: 0.03rem;
	float: left;
	width: 0.14rem;
	height: 0.23rem;
}
.main_content{
	margin-top: 0.23rem;
	font-size: 0.24rem;
	color: black;
}
.main_info{
	/*position: absolute;
	bottom: 0.18rem;
	left: 0;*/
	float: left;
	font-size: 0.14rem;
	color: #959594;
	margin-top: 0.3rem;
}

#bottom{
	height: 0.88rem;
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
	background-color: white;
	overflow: hidden;
}
#bottom *{
	float: left;
}
#bottom #send{
	font-size: 0.24rem;
	background: #ffbcbd;
	width: 1rem;
	height: 0.5rem;
	border-radius: 0.08rem;
	margin-top: 0.2rem;
	margin-left: 0.2rem;
	text-align: center;
	line-height: 0.5rem;
	color:#fff;
}
#bottom #send2{
	font-size: 0.24rem;
	background: #ffbcbd;
	width: 1rem;
	height: 0.5rem;
	border-radius: 0.08rem;
	margin-top: 0.2rem;
	margin-left: 0.2rem;
	text-align: center;
	line-height: 0.5rem;
	color:#fff;
}
#replyText{
	padding-left: 0.18rem;
	width: 5rem;
	height: 0.5rem;
	border-radius: 0.08rem;
	text-align: left;
	margin-left: 0.32rem;
	margin-top: 0.2rem;
	font-size: 0.2rem;
	color: #959594;
	background-color: #f3f0ef;

}
#hint{
	width: 4rem;
	height: 0.6rem;
	font-size: 0.24rem;
	position: fixed;
	left: 50%;
	bottom: 1.13rem;
	margin-left: -25%;
	background: #000;
	opacity: 0.5;
	color: #fff;
	text-align: center;
	line-height: 0.6rem;
	border-radius: 0.08rem;
	display: none;
	z-index: 99999;
}
#tip{
	width: 0.32rem;
	height: 0.42rem;
	margin-top: 0.23rem;
	margin-left: 0.2rem;
}
.onShow{
	color: #ff9e9f;
}
/*@@@@@@@@@@@@@@@@@@@@@*/
.huifus{
	width: 5rem;
	/*height: 1rem;*/
	background: #eee;
	position: relative;
	border-radius: 0.08rem;
	margin-top: 0.2rem;
	/*display: none;*/
	/*float: left;*/
	z-index: 99999;
}
.huifus h1 {
	font-size: 0.24rem;
	/*float: left;*/
	margin-left: 0.2rem;
}
.huifus p:nth-child(2){
	font-size: 0.24rem;
	position: absolute;
	top: 0;
	right:0.2rem;
	z-index: 1;
}
.huifus p:nth-child(3){
	font-size: 0.24rem;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	margin-right: 0.2rem;
	/*float: left;*/
	text-align: justify;
}

.zan{
	width: 5.42rem;
	height: 0.5rem;
	background: pink;
	float: left;
	margin-top: 0.09rem;
	margin-bottom: 0.09rem;
	display: none;
}
.zan span{
	float: left;
	font-size: 0.2rem;
	line-height: 0.5rem;
	margin-left: 0.1rem;
}
.zan .xiaoshou{
	float: left;
	width: 0.24rem;
	height: 0.24rem;
	margin-top: 0.13rem;
	margin-left:0.13rem;
}




.mui-table-view .controll{
	margin-top: 0.2rem;
	margin-bottom: 0.18rem;
}

.replyImg{
	width: 1.06rem;
	height: 1.06rem;
	float: left;
	margin-right: 0.39rem;
	border-radius: 50%;
}
.xiaotx{
	background-size:1.06rem 1.06rem;
	border-radius: 50%;
	float: left;
	width: 0.24rem;
	height: 0.24rem;
	margin-top: 0.13rem;
	margin-left:-0.07rem;
}

.mui-scroll-wrapper{
	position: absolute;
	top:30px;
	margin-bottom: 0.2rem;
}
.mui-scroll{
	background-color: white;
	width: 100%;
	margin-top: 0.01rem;
	margin-bottom: 0.88rem;
}

.swiper-container{
	margin-top: 0.21rem;
	position: relative;
	height: 10rem;
}